service: lambda-orchestrator

frameworkVersion: '3'

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  environment:
    CUSTOMERS_API_BASE: ${env:CUSTOMERS_API_BASE, 'http://localhost:3001'}
    ORDERS_API_BASE: ${env:ORDERS_API_BASE, 'http://localhost:3002'}
    SERVICE_TOKEN: ${env:SERVICE_TOKEN, 'service-secret-token'}

functions:
  createAndConfirmOrder:
    handler: src/handler.main
    events:
      - httpApi:
          path: /orchestrator/create-and-confirm-order
          method: post

plugins:
  - serverless-esbuild
  - serverless-offline

custom:
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    target: node22
    platform: node
    format: esm
  serverless-offline:
    httpPort: 3003
    noPrependStageInUrl: true
